<div class="container">
  <p> Please login below</p>
  <form action="/logged_in" method="post">
    <div class="form-group">
        <label for="usr">Email:</label>
        <input type="email" class="form-control" id="usr" name="email">
      </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>

    <input value="Login" type="submit" />
    <%# <button type="button" type="submit" class="btn btn-primary btn-block">Register!</button> %>

  </form>
  </div>
