<div class="container">
  <p> Please login below</p>
  <form action="/sessions/new" method="post">
    <div class="form-group">
      <label for="usr">Email:</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button class="btn btn-primary btn-block">Login</button>
  </form>
</div>
