<div class="container">
    <h2>Bookings</h2>
  <br>
</div>

<div class="container" id="property">
  <ul class="list-group" >
    <% @bookings.each do |booking| %>
      <li>booking.id</li>
    <% end %>
  </ul>
</div>
