<div class="container">
  <form action="/properties/new">
    <button class="btn btn-primary btn-block">List a Property</button>
  </form>
  <br>
</div>

<div class="container" id="property">
  <ul class="list-group" >
    <% @properties.each do |property| %>
      <a href="/bookings/<%= property.id %>" style="text-decoration: none">
        <li style="margin-bottom:25px">
          <div class="media">
            <div class="media-left">
              <img src="http://placekitten.com/g/190" class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= property.name %></h4>
              <p><%= property.description %></p>
              <p id="price">£<%= property.price %> per night</p>
            </div>
          </div>
        </li>   
      </a>
    <% end %>
  </ul>
</div>
