<div class="container">
  <p>Please fill in the property form below</p>
  <form action="/properties" method="post">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="6" name="description"></textarea>
    </div>
    <div class="form-group">
      <label>Price per Night:</label>
      <input type="text" class="form-control" name="price_per_night">
    </div>
    <div class="form-group">
      <label>Available from (DD/MM/YY):</label>
      <input type="text" class="form-control" name="available_from">
    </div>
    <div class="form-group">
      <label>Available to (DD/MM/YY):</label>
      <input type="text" class="form-control" name="available_to">
    </div>

    <button type="submit" class="btn btn-primary btn-block">List my Property</button>

  </form>
</div>
