<div class="container">
  <p>Book a Property</p>
  <form action="/properties">
    <button class="btn btn-primary center-block">List a Property</button>
  </form>
 <br>
 <br>
  <form action="/properties/book" method="post">
    <div class="form-group">
      <label for="usr">Available From (DD/MM/YY):</label>
      <input type="date" class="form-control" id="usr" name="date_from">
    </div>
    <div class="form-group">
      <label for="usr">Available To (DD/MM/YY):</label>
      <input type="date" class="form-control" id="usr" name="date_to">
    </div>


    

  </form>
</div>
