<div class="container">
  <form action="/properties/new">
    <button class="btn btn-primary btn-block">List a Property</button>
  </form>

  <form action="/properties/book" method="post">
    <div class="form-group">
      <label for="usr">Available From (DD/MM/YY):</label>
      <input type="date" class="form-control" id="usr" name="date_from">
    </div>
    <div class="form-group">
      <label for="usr">Available To (DD/MM/YY):</label>
      <input type="date" class="form-control" id="usr" name="date_to">
    </div>
  </form>
</div>

<div class="container">
  <ul class="list-group" >
    <% @properties.each do |property| %>
      <li>
        <div class="media">
          <div class="media-left">
            <img src="http://placekitten.com/g/190" class="media-object">
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= property.name %></h4>
            <p><%= property.description %></p>
            <p id="price">£<%= property.price %> per night</p>
          </div>
        </div>
      </li>   
    <% end %>
  </ul>
</div>
