<div class="container" id="booking">
  <div class="media">

    <div class="media-left">
      <img src="http://placekitten.com/g/190" class="media-object">
    </div>

    <div class="media-body">
      <h4 class="media-heading"><%= @property.name %></h4>
      <p><%= @property.description %></p>
      <p id="price">£<%= @property.price %> per night</p>
    </div>
    
  </div> 
</div>
